/ConnectionUrlTest$ConnectionStringGenerator.class
/MessagesTest.class
/ServerVersionTest.class
/ConnectionUrlTest$ConnectionPropertiesTest.class
/ConnectionUrlTest$ConnectionStringGenerator$UrlMode.class
/ConnectionUrlTest.class
