/BaseQueryInterceptor.class
/BaseTestCase$MockConnectionConfiguration.class
/BaseTestCase.class
/TestUtils.class
/UnreliableSocketFactory$HangingInputStream.class
/UnreliableSocketFactory$HangingOutputStream.class
/UnreliableSocketFactory$HangingSocket.class
/UnreliableSocketFactory.class
